.row{
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  width: 100%;


  &::before{
    content: 'month';
    display: block;
    text-align: center;
  }

  td{
    width: 300px;
    text-align: center; 
  }
}

tbody:nth-child(5){
}