    <main>
        <nav>
            <button routerLink="grid">GGrid</button>
            <button routerLink="table-materials">table-materials</button>
            <button routerLink="uploadFoto">uploadFoto</button>
            <button routerLink="scroll">Scroll</button>
            <button routerLink="pipes">Pipes</button>
            <button routerLink="news">News</button>
            <button routerLink="template">Template</button>
            <button routerLink="pages">pages (Lazzy Loading) </button>
            <button routerLink="date">Date</button>
            <button routerLink="auth">Auth</button>
            <button routerLink="route">route</button>
            <button routerLink="position">Position</button>
            <button routerLink="debug">Debug</button>
            <button routerLink="async">Async</button>
            <button routerLink="materials">Materials</button>
            <button routerLink="gmail">gmail</button>
            <button routerLink="git">git</button>
            <button routerLink="parent">parent</button>
            <button routerLink="questions">questions</button>
            <button routerLink="animation">animation</button>
        </nav>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </main>

<!-- <app-parent>
    <p>This content is projected into the parent component.</p>
</app-parent> -->

<hr>
<!-- <app-parent></app-parent> -->