<div>
    16:35
</div>
<main>
    <nav>
        <button routerLink="grid">GGrid</button>
        <button routerLink="template">Template</button>
        <button routerLink="pages">pages (Lazzy Loading) </button>
        <button routerLink="date">Date</button>
        <button routerLink="auth">Auth</button>
        <button routerLink="route">route</button>
        <button routerLink="position">Position</button>
        <button routerLink="debug">Debug</button>
        <button routerLink="async">Async</button>
        <button routerLink="materials">Materials</button>
        <button routerLink="gmail">gmail</button>
        <button routerLink="git">git</button>
        <button routerLink="parent">parent</button>
        <button routerLink="questions">questions</button>
        <button routerLink="animation">animation</button>
    </nav>
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
</main>

<app-standalone></app-standalone>

<!-- <router-outlet></router-outlet> -->
