<main>
    <nav>
        <button routerLink="grid">GGrid</button>
        <button routerLink="position">Position</button>
        <button routerLink="debug">Debug</button>
        <button routerLink="async">Async</button>
        <button routerLink="materials">Materials</button>
        <button routerLink="gmail">gmail</button>
        <mat-sidenav-container>
            <mat-sidenav>Start</mat-sidenav>
            <mat-sidenav position="start">Start 2</mat-sidenav>
          </mat-sidenav-container>
    </nav>
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
</main>
