<div>Debug</div>
<button (click)="test()">TEST</button>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div class="element" id="element" #element>element</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>
<div>sdsdsd</div>